@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #0099FF;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --primary: #0099FF;
  }
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout styles */
html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px; /* Espace pour le header fixe */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  padding: 20px;
  width: 100%;
}

/* Default font for all elements */
body,
button,
input,
select,
textarea,
p,
span,
a,
li,
div {
  font-family: var(--font-space-grotesk);
}

/* Headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
